body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.search-container {
    display: flex;
    align-items: center;
}
.search-container input {
    padding: 5px;
    margin-right: 5px;
}
.search-container button {
    padding: 5px 10px;
    cursor: pointer;
}
.intro {
    margin-top: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    border-radius: 10px;
}
/**/

.content {
    margin-top: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.team {
    margin-top: 20px;
}
.team h2 {
    margin-bottom: 10px;
}
.team-member {
    margin: 10px 0;
}
.contact {
    background: rgba(0, 0, 0, 0.6);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}